<%- include("./includes/header.ejs", {title: 'Warmachine'}); %>

    <h1>Project 2</h1>
    <p>Welcome to Warmachine Database</p>

    <a href="/viewCard/faction">View Card</a>
    <br/>
    <a href="/reviews/all">Reviews</a>
    <br/>
    <a href="/list/all">Army Lists</a>
    <br/>
    <a href="/about/">About</a>

    <br />

<%- include("./includes/footer.ejs"); %>
