<%- include("../includes/header.ejs", {title:"Select Card"});%>

<h1>Select Card</h1>
<br/>
<% for(var i = 0; i < card.length; i++ ){ %>
<a href='/reviews/description/?model_name=<%= card[i].model_name %>&email=<%= locals.email %>'><%= card[i].model_name %></a>
<br/>
<%}%>
<%- include("../includes/footer.ejs"); %>