<%- include("../includes/header.ejs", {title:"Description"});%>

<h1><%= locals.model_name %></h1>
<br/>
<form action="/reviews/insert" method=post>
    <input type="hidden" id="model_name" name="model_name" value="<%=locals.model_name%>" />
    <input type="hidden" id="email" name="email" value="<%= locals.email %>" />
    Review:
    <br/>
    <textarea id="description" name="description" rows="4" cols="50"></textarea>
    <br/>
    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>