<%- include("../includes/header.ejs", {title:"Select Email"});%>

<h1>Select Email</h1>
<br/>
<form action="/reviews/factions" method="get">
    <select id="email" name="email">
        <% for(var i=0; email.length > i; i++ ) { %>
        <option value="<%= email[i].email %>"><%= email[i].email %></option>
        <% } %>
    </select>

    <br/>
    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>