<%- include("../includes/header.ejs", {title:"Select Faction"});%>

<h1>Select Faction</h1>
<br/>
<form action="/reviews/allCards" method="get">
    <input type="hidden" id="email" name="email" value="<%= locals.email %>">
    <select id="faction" name="faction">
        <% for(var i=0; faction.length > i; i++ ) { %>
        <option value="<%= faction[i].faction %>"><%= faction[i].faction %></option>
        <% } %>
    </select>

    <br/>
    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>