<%- include("../includes/header.ejs", {title:"Reviews - View All"});%>

<h1>Reviews</h1>
<% if(locals.successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Review was successfully saved. %>
    </div>
</div>
<% }%>
<a href="/reviews/add" method="post">Add New Review</a> <br/>
<br/>
<table border="1">
    <tr><th>Faction</th><th>Name</th><th>Author</th><th>Description</th></tr>
    <% for(var i = 0; i < review.length; i++) { %>
    <tr>
        <td><p><%= review[i].faction %></p></td>
        <td><p><%= review[i].model_name %></p></td>
        <td><p><%= review[i].email %></p></td>
        <td><p><%= review[i].description %></p></td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>