<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
<h1>Purpose</h1>
<p>This website is to allow users to view the cards of various models from the tabletop game Warmachine. Users can also read and write reviews of models. Finally, users can view army lists created by users</p>

<br/>

<h1>Privateer Press</h1>
<p>Creators of Warmachine</p>
<a href="http://privateerpress.com/company/about-privateer-press">about</a>
<br/>
<h2>Links To diagrams</h2>
<a href="/images/ERD.jpg">Entity Relationship Diagram</a>
<br/>
<a href="/images/Relational_Schema.jpg">Relational Schema</a>
<br/>
<%- include("../includes/footer.ejs"); %>