<%- include("../includes/header.ejs", {title:"Army Lists"});%>

<h1><%= locals.list_name %></h1>
<br/>
<table border="1">
    <tr><th>Model Name</th><th>Number</th></tr>
    <% for(var i = 0; i < models.length; i++) { %>
    <tr>
        <td> <%= models[i].model_name %> </td>
        <td> <%= models[i].quantity %> </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>