<%- include("../includes/header.ejs", {title:"Army Lists - View All"});%>

<h1>Army Lists</h1>
<br/>
<table border="1">
    <tr><th>Name</th><th>Author</th></tr>
    <% for(var i = 0; i < lists.length; i++) { %>
    <tr>
        <td><a href='/list/getList/?list_name=<%= lists[i].list_name %>'> <%= lists[i].list_name %> </a></td>
        <td><p> <%= lists[i].email %> </p></td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>