<%- include("../includes/header.ejs", {title:"Select Card"});%>

<h1>Select Card</h1>
<br/>
<p>Number of Cards: <%= locals.model_count.model_count %></p>
    <% for(var i = 0; i < card.length; i++ ){ %>
    <a href='/viewCard/card/?model_name=<%= card[i].model_name %>'><%= card[i].model_name %></a>
    <br/>
    <%}%>
<%- include("../includes/footer.ejs"); %>