<%- include("../includes/header.ejs", {title:"Loki"});%>

<h1><%= stats.model_name %></h1>
<br/>
<p>Health: <%= stats.health %></p>
<p>Focus/Fury: <%= stats.focus_fury %></p>
<p>Speed: <%= stats.speed %></p>
<p>Strength: <%= stats.strength %></p>
<p>MAT: <%= stats.mat %></p>
<p>RAT: <%= stats.rat %></p>
<p>Defense: <%= stats.defense %></p>
<p>Armor: <%= stats.armor %></p>
<p>Point Cost: <%= stats.point_cost %></p>

<%for(var i = 0; i < abilities.length; i++){%>
    <p><%= abilities[i].ability_name %></p>
    <p><%= abilities[i].description %></p>
    <br/>
<%}%>
<a href="/">Home</a>
<%- include("../includes/footer.ejs"); %>